<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Message Portal</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>Message Portal</h1>
	<hr>
	<form method='POST'>
		<label for='message'>New Message:</label>
		<input type='text' id='message' name='message' required><br>
		<label for='author'>Author:</label>
		<input type='text' id='author' name='author' required><br>
		<input type='submit' id = 'submit' name='add-message' value='Add Message'>
	</form>
	<article>
		<h1>Your messages</h1>
		{% if not messages %}
			<h2>You do not have any messages.</h2>
		{% else %}
			<ul>
			{% for message in messages %}
				<li>Message: {{ message['message'] }}</li>
				<li>Author: {{ message['author'] }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	</article>
</body>
</html>